#header {
	height: 100px;
	border: solid;
	background-color: ccc;
}

#myname {
	float: left;
	height: 75px;
	width: 125px;
	background-color: DDD;
}

#icons {
	float: right;
}

#aboutme {
	float: left;
}

#connect {
	float: right;
}

ul {
	display: inline;
}