* {
	box-sizing: border-box;
}

#index {
	background-image: url("../images/lightsatnight.jpg");
	background-size: cover;
}

#contact {
	background-image: url("../images/atlasboston.jpg");
	background-size: cover;
}

#portfolio {
	background-image: url("../images/Chappie1.jpg");
	background-size: cover;
}
header {
	width: 100%;
	margin-bottom: 20px;
	border-color: 000;
	border: solid;
	background-color: fff;
}

li {
	display: inline;
}
#myname {
	Border-radius: 5px;
	font-size: 40px;
	float: left;
	margin-left: 30px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 0;
	background-color: fff;
	
}

#navigation {
	float: right;
	margin: 20px;
	margin-right: 100px;
	color: white;
}

.button {
	padding: 5px;
}

#mainsection {
	clear: both;
	color: black;
	border: solid;
	}

#aboutme {
	background-image: url("../images/JohnandLaila.jpg");
	background-size: cover;
	padding-top:100px;
	padding-bottom: 75px;
	float: left;
	width: 60%;
	margin-top: 20px;
	background-color: #1d065c;
	border-radius: 7px;
}

#mainp {
	color: fff;
	margin-top: 100px;
}
#mypic {
	
}

#connect {
	color: white;
	float: right;
	width: 20%;
	padding-top: 0 auto;
	margin-top: 20px;
	background-color: #1d065c;
	border-radius: 7px;
}

ul {
	display: inline;
}

ul img{
	height: 50px;
	width: auto;
}

img {
			width: 150px;
			height: 150px;
		}

.icon {
	width: 20px;
	height: 20px;
	display: inline;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	clear: both;
	padding: 25px;
	background-color: blue;
	color: white;
}